@import "../styles/grid.scss";
@import "../styles/fonts.scss";

.Sidebar__header {
  margin: 0;
  font-size: $font-size--large;
}

.Sidebar__waypoint-list {
  display: grid;
  gap: $gap--small;
  padding: $gap--small;
  max-height: calc(100vh - 2 * $gap--small);
  overflow: auto;
}
