@import "../styles/grid.scss";
@import "../styles/colors.scss";

.WaypointItem {
  padding: $gap--small;
  background-color: $color--grey-92;

  &:hover {
    background-color: $color--grey-90;
    box-shadow: 0.125rem 0.125rem $color--grey-80;
  }
}

.WaypointItem__attr-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
