@import "./colors.scss";
@import "./fonts.scss";

body {
  margin: 0;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: $font-size--medium;
  color: $color--grey-20;
  background-color: $color--grey-97;
}
